
@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
    --primary-50: #ecfdf5;
    --primary-500: #10b981;
    --primary-600: #059669;
    --primary-700: #047857;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, var(--primary-50) 0%, #f8fafc 100%);
}

.line-clamp-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.scrollbar-hide {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }

.h-dvh {
    height: 100dvh;
}
